# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (caso use .env futuramente)
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Reports gerados pelo Newman
reports/
*.html
*.xml

# Coverage
coverage/

# Editor / IDE
.vscode/
.idea/